# (Vorläufiger) Projekttitel:

Zusammenhang zwischen ausgesuchten Kriterien der Bevölkerungsstruktur und den Wahlergebnissen der AfD bei den Bundestagswahlen 2017 in den Stadtbezirken von Dortmund

### Projektbeteiligte:

Mohamad Aleinawi, Carmen Krause, Laura Rothfritz, Pascal Schwerk, Elise Werner

# Inhalt

Abkürzungzverzeichnis  
Abbildungsverzeichnis  
Tabellenverzeichnis  

Einleitung  
1. Forschungsstand  
2. Forschungsmethode  
3. Ergebnis  
4. Analyse  

Fazit und Ausblick  

Literaturverzeichnis   
Anhänge

# Abkürzungsverzeichnis

AfD - Alternative für Deutschland (Politische Partei)  
WZB - Wissenschaftszentrum Berlin für Sozialforschung

# Einleitung

### Forschungsvorhaben/ Fragestellung:
Im Rahmen der vorliegenden Projektarbeit soll die Frage untersucht werden, ob sich ein signifikanter Zusammenhang zwischen ausgesuchten Kriterien der Bevölkerungsstruktur (z. B. Staatsangehörigkeit, Geschlecht, Altersgruppen, Einkommensverhältnisse) und den Wahlergebnissen der AfD bei den Bundestagswahlen 2017 in den Stadtbezirken von Dortmund feststellen lässt. 

Es werden die Ergebnisse bezogen auf die Variabeln für die Bundestagswahlen 2013 und 2017 betrachtet um die Ergebnisse miteinander zu Vergleichen und die Ergebnisse zu festigen. 

Folgende Variabeln werden Betrachtet:
- Wahlergebnisse AfD (Zweitstimme)
- Altersstruktur
- Ausländeranteil
in den jeweiligen Stadtbezirken.

### Begründung des Forschungsvorhabens/ Motivation:
a) Laut WZB-Studie gehört Dortmund zu den 10 Städten (Platz 6) mit dem höchsten Segregationsindex.  
b) Die AfD Dortmund hat ihrerseits aktuell mehrere Anfragen zu aus der WZB-Studie ableitbaren Aussagen gestellt: https://www.afd-do-fraktion.de/item/441-aktuelle-anfragen-und-antraege-der-afd-fraktion-fuer-eine-sichere-heimat.

### Begriffsdefinitionen/ Erläuterungen:
AfD - Hintergründe zur Partei  
Bundestagswahl 2017 - Hintergründe zum Wahlverfahren (Erststimmen, Zweitstimmen etc.)  
Dortmund - Hintergründe zur Einteilung der Stadtbezirke  
Kriterien der Bevölkerungsstruktur - Hintergründe und Erläuterungen

### Datenlage:
Das Informationsportal der Stadt Dortmund liefert sehr gut aufbereitete und vor allem einheitliche (Stadtbezirke = Wahlbezirke) Daten für die jeweiligen Stadtbezirke im Jahr 2017: https://opendata.dortmund.de/Informationsportal/.

Die Wahlergebnisse wurden auf Anfrage vom Statistikamt der Stadt Dortmund bereit gestellt.

In [2]:
import pandas as pd

dortmund = pd.read_csv('Datentabellen_GruppeB.csv', sep=';')
print(dortmund)

        Stadtbezirk  2017Deutsch  2017Ausländer  2016Deutsch  2016Ausländer  \
0   Innenstadt-West        43702           9621        43828           9563
1   Innenstadt-Nord        29035          30444        29569          30080
2    Innenstadt-Ost        48147           8207        47785           7615
3             Eving        29224           9103        29378           8833
4       Scharnhorst        38301           7574        38586           7183
5           Brackel        50266           5828        50460           5735
6         Aplerbeck        51188           4117        51379           3942
7             Hörde        47967           7551        48018           7492
8          Hombruch        51367           5687        51421           5744
9    Lütgendortmund        42435           6267        42695           5950
10         Huckarde        30867           5651        30983           5504
11          Mengede        32630           6601        32933           6474

    2013Deutsch  2013Ausländer  2017Wahlberechtigte  2017Wähler/-innen  \
0           NaN            NaN                22014              11796
1           NaN            NaN                41632              32291
2           NaN            NaN                38056              28707
3           NaN            NaN                23742              15858
4           NaN            NaN                31072              20677
5           NaN            NaN                42599              31348
6           NaN            NaN                43266              33486
7           NaN            NaN                40607              30669
8           NaN            NaN                43870              35169
9           NaN            NaN                35852              25013
10          NaN            NaN                25193              16939
11          NaN            NaN                26713              17978

    2017UngültigeErststimmen              ...               \
0                        372              ...
1                        256              ...
2                        232              ...
3                        309              ...
4                        305              ...
5                        380              ...
6                        265              ...
7                        314              ...
8                        269              ...
9                        304              ...
10                       231              ...
11                       279              ...

    2016PaaremitKind(ern)  2016Alleinerziehende  \
0                   11500                  3000
1                   20300                  4900
2                   12500                  2700
3                   11800                  2500
4                   14900                  3700
5                   15600                  3300
6                   15700                  3200
7                   15000                  3300
8                   15200                  2600
9                   13200                  3300
10                  11300                  2700
11                  12500                  2900

    2016SonstigeMehrpersonenhaushalte  2016Gemeinschaftsunterkünfte  \
0                                3000                           600
1                                3800                           700
2                                3100                           900
3                                2200                           400
4                                2700                           600
5                                3300                           500
6                                3100                           800
7                                3300                           700
8                                2900                           900
9                                2900                           900
10                               2200                           300
11                               2200                           700

    2013Einpersonenhaushalte  2013PaareohneKind(er)  2013PaaremitKind(ern)  \
0                        NaN                    NaN                    NaN
1                        NaN                    NaN                    NaN
2                        NaN                    NaN                    NaN
3                        NaN                    NaN                    NaN
4                        NaN                    NaN                    NaN
5                        NaN                    NaN                    NaN
6                        NaN                    NaN                    NaN
7                        NaN                    NaN                    NaN
8                        NaN                    NaN                    NaN
9                        NaN                    NaN                    NaN
10                       NaN                    NaN                    NaN
11                       NaN                    NaN                    NaN

    2013Alleinerziehende  2013SonstigeMehrpersonenhaushalte  \
0                    NaN                                NaN
1                    NaN                                NaN
2                    NaN                                NaN
3                    NaN                                NaN
4                    NaN                                NaN
5                    NaN                                NaN
6                    NaN                                NaN
7                    NaN                                NaN
8                    NaN                                NaN
9                    NaN                                NaN
10                   NaN                                NaN
11                   NaN                                NaN

    2013Gemeinschaftsunterkünfte
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
5                            NaN
6                            NaN
7                            NaN
8                            NaN
9                            NaN
10                           NaN
11                           NaN

[12 rows x 42 columns]

In [3]:
dortmund.describe()

,2017Deutsch,2017Ausländer,2016Deutsch,2016Ausländer,2013Deutsch,2013Ausländer,2017Wahlberechtigte,2017Wähler/-innen,2017UngültigeErststimmen,2017GültigeErststimmen,...,2016PaaremitKind(ern),2016Alleinerziehende,2016SonstigeMehrpersonenhaushalte,2016Gemeinschaftsunterkünfte,2013Einpersonenhaushalte,2013PaareohneKind(er),2013PaaremitKind(ern),2013Alleinerziehende,2013SonstigeMehrpersonenhaushalte,2013Gemeinschaftsunterkünfte
count,12.00000,12.000000,12.000000,12.000000,0.0,0.0,12.000000,12.000000,12.000000,12.000000,...,12.00000,12.000000,12.000000,12.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,41260.75000,8887.583333,41419.583333,8676.250000,NaN,NaN,34551.333333,24994.250000,293.000000,24701.250000,...,14125.00000,3175.000000,2891.666667,666.666667,NaN,NaN,NaN,NaN,NaN,NaN
std,8878.70906,6968.586624,8774.145164,6913.081041,NaN,NaN,8331.098971,8009.392431,47.922286,8020.302807,...,2553.47357,649.650256,498.102460,196.946386,NaN,NaN,NaN,NaN,NaN,NaN
min,29035.00000,4117.000000,29378.000000,3942.000000,NaN,NaN,22014.000000,11796.000000,231.000000,11424.000000,...,11300.00000,2500.000000,2200.000000,300.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,32189.25000,5792.750000,32445.500000,5741.750000,NaN,NaN,26333.000000,17718.250000,262.750000,17451.250000,...,12325.00000,2700.000000,2575.000000,575.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,43068.50000,7076.000000,43261.500000,6828.500000,NaN,NaN,36954.000000,26860.000000,291.500000,26592.000000,...,14050.00000,3100.000000,2950.000000,700.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,48676.75000,8431.000000,48628.500000,7919.500000,NaN,NaN,41873.750000,31583.750000,310.250000,31234.750000,...,15300.00000,3300.000000,3150.000000,825.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,51367.00000,30444.000000,51421.000000,30080.000000,NaN,NaN,43870.000000,35169.000000,380.000000,34900.000000,...,20300.00000,4900.000000,3800.000000,900.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dortmund['2017Deutsch'].mean()

41260.75

In [8]:
import pandas as pd
rohdaten = pd.read_csv('Rohdaten_v1.5_bereinigt.csv')
print(rohdaten)

        Stadtbezirk  Deutsch2017  Ausländer2017  Deutsch2016  Ausländer2016  \
0   Innenstadt-West        43702           9621        43828           9563
1   Innenstadt-Nord        29035          30444        29569          30080
2    Innenstadt-Ost        48147           8207        47785           7615
3             Eving        29224           9103        29378           8833
4       Scharnhorst        38301           7574        38586           7183
5           Brackel        50266           5828        50460           5735
6         Aplerbeck        51188           4117        51379           3942
7             Hörde        47967           7551        48018           7492
8          Hombruch        51367           5687        51421           5744
9    Lütgendortmund        42435           6267        42695           5950
10         Huckarde        30867           5651        30983           5504
11          Mengede        32630           6601        32933           6474

    Deutsch2013  Ausländer2013  Wahlberechtigte2017  WählerInnen2017  \
0         44023           8008                22014            11796
1         31106          23886                41632            32291
2         47682           6555                38056            28707
3         29774           7006                23742            15858
4         39230           4993                31072            20677
5         50515           4013                42599            31348
6         51816           3140                43266            33486
7         47502           5808                40607            30669
8         51836           4700                43870            35169
9         43557           4551                35852            25013
10        31365           4343                25193            16939
11        33596           4653                26713            17978

    UngültigeErststimmen2017       ...        Alter80uÄ_2017  Alter0bis2_2013  \
0                        372       ...                  2700             1238
1                        256       ...                  1522             1940
2                        232       ...                  3619             1348
3                        309       ...                  2170              902
4                        305       ...                  2908             1144
5                        380       ...                  3988             1196
6                        265       ...                  4283             1232
7                        314       ...                  3681             1188
8                        269       ...                  4337             1139
9                        304       ...                  2769             1166
10                       231       ...                  2257              870
11                       279       ...                  2129              921

    Alter3bis5_2013  Alter6bis17_2013  Alter18bis24_2013  Alter25bis34_2013  \
0              1102              4123               5729              10667
1              1921              7187               7182               9926
2              1185              3959               4221               9905
3              1013              4492               3328               4546
4              1258              5616               3486               4856
5              1263              5540               3998               6004
6              1269              6070               3536               5538
7              1268              5550               3850               6344
8              1231              5610               5179               7104
9              1185              5216               4259               6066
10              936              4360               3183               4374
11             1013              4804               3333               4454

    Alter35bis49_2013  Alter50bis64_2013  Alter65bis79_2013  Alter80uÄ_2013
0               11095               9259               6294            2524
1               12025               8336               5103            1372
2               11612              10450               8082            3475
3                8075               7279               5246            1899
4                8913               9348               7099            2503
5               11281              12346               9587            3313
6               11920              12156               9812            3423
7               11497              11436               9113            3064
8               11500              11564               9319            3890
9               10330              10583               6791            2512
10               7540               7544               4911            1990
11               8124               8370               5361            1869

[12 rows x 41 columns]

In [9]:
rohdaten.describe()

,Deutsch2017,Ausländer2017,Deutsch2016,Ausländer2016,Deutsch2013,Ausländer2013,Wahlberechtigte2017,WählerInnen2017,UngültigeErststimmen2017,GültigeErststimmen2017,...,Alter80uÄ_2017,Alter0bis2_2013,Alter3bis5_2013,Alter6bis17_2013,Alter18bis24_2013,Alter25bis34_2013,Alter35bis49_2013,Alter50bis64_2013,Alter65bis79_2013,Alter80uÄ_2013
count,12.00000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.00000,12.000000,12.000000
mean,41260.75000,8887.583333,41419.583333,8676.250000,41833.500000,6804.666667,34551.333333,24994.250000,293.000000,24701.250000,...,3030.250000,1190.333333,1220.333333,5210.583333,4273.666667,6648.666667,10326.000000,9889.25000,7226.500000,2652.833333
std,8878.70906,6968.586624,8774.145164,6913.081041,8495.479381,5551.573083,8331.098971,8009.392431,47.922286,8020.302807,...,933.305088,278.725780,249.043017,921.802923,1198.019755,2284.453001,1678.969435,1780.99064,1889.560435,781.955455
min,29035.00000,4117.000000,29378.000000,3942.000000,29774.000000,3140.000000,22014.000000,11796.000000,231.000000,11424.000000,...,1522.000000,870.000000,936.000000,3959.000000,3183.000000,4374.000000,7540.000000,7279.00000,4911.000000,1372.000000
25%,32189.25000,5792.750000,32445.500000,5741.750000,33038.250000,4499.000000,26333.000000,17718.250000,262.750000,17451.250000,...,2235.250000,1084.500000,1079.750000,4459.000000,3447.750000,4778.500000,8715.750000,8361.50000,5332.250000,1967.250000
50%,43068.50000,7076.000000,43261.500000,6828.500000,43790.000000,4846.500000,36954.000000,26860.000000,291.500000,26592.000000,...,2838.500000,1177.000000,1208.000000,5378.000000,3924.000000,6035.000000,11188.000000,9899.00000,6945.000000,2518.000000
75%,48676.75000,8431.000000,48628.500000,7919.500000,48390.250000,6667.750000,41873.750000,31583.750000,310.250000,31234.750000,...,3757.750000,1233.500000,1264.250000,5611.500000,4489.000000,7804.250000,11528.000000,11468.00000,9164.500000,3340.500000
max,51367.00000,30444.000000,51421.000000,30080.000000,51836.000000,23886.000000,43870.000000,35169.000000,380.000000,34900.000000,...,4337.000000,1940.000000,1921.000000,7187.000000,7182.000000,10667.000000,12025.000000,12346.00000,9812.000000,3890.000000

# Literaturverzeichnis

Helbig, Marcel; Jähnen, Stefanie: Wie brüchig ist die soziale Architektur unserer Städte? : Trends und Analysen der Segregation in 74 deutschen Städten (= Discussion Paper P 2018–001). Berlin : WZB, Wissenschaftszentrum Berlin für Sozialforschung, 2018