# Einführung
Dies ist das erste Jupyter Notebook für den Data-Science-Kurs. Das schöne daran ist, dass man Text schreiben kann wie in einem wissenschaftlichen Bericht, aber auch gleich den Python-Code direkt einbetten.
# Code
Das folgende ist ein einfaches Beispiel für den Python code:

In [11]:
a = 3.4
b = 2.1

print(a+b)

5.5

In [4]:
import pandas as pd
kassel = pd.read_csv('PythonTabelle_02_csv.csv', encoding="latin1")
print(kassel)

    Unnamed: 0  EW_Gesamt  EW_ unter 30_J Gesamtzahl  EW 30-60_J Gesamtzahl  \
0         2007     192121                      49052                  45602
1         2008     191959                      49004                  45549
2         2009     192241                      49177                  45515
3         2010     193112                      49393                  45524
4         2011     194109                      49623                  45862
5         2012     195422                      49521                  46600
6         2013     196758                      66270                  51125
7         2014     197092                      66596                  80572
8         2015     200507                      68790                  81453
9         2016     201907                      69862                  81458
10        2017     204021                      70873                  82160

    EW_über 60_J Gesamtzahl  Haushalte insgesamt  1-Prs.haushalte   \
0                     42072               102003             49692
1                     42397               102384             50656
2                     42510               102867             50467
3                     42466               103884             51726
4                     42588               102343             50814
5                     42695               103825             52210
6                     49662               105889             54076
7                     49924               106459             54653
8                     50264               108082             56145
9                     50587               108913             56541
10                    50988               109533             56669

    1-Prs.haushalt unter 30_J  1-Prs.haushalt 30-60_J  \
0                       11660                   21157
1                       12451                   22425
2                       12355                   21226
3                       12782                   21735
4                       12782                   22026
5                       13238                   22628
6                       14165                   23223
7                       14341                   23392
8                       14918                   24173
9                       15110                   23939
10                      14920                   23991

    1-Prs.haushalt über 60_J
0                      16875
1                      15780
2                      16886
3                      17209
4                      16006
5                      16344
6                      16688
7                      16920
8                      17054
9                      17492
10                     17758

Wenn man Shift+Enter drückt, wird der Code ausgeführt und man erhät das Ergebnis.

# Diskussion
Sind 2 und 2 wirklich immer 4? Diese spannende Frage ist nicht so trivial, wie sie scheint, und wird von Muller et al. (2010) ausführlich erörtert.

# Literaturangaben
Muller, J.-M., Brisebarre, N., de Dinechin, F., Jeannerod, C.-P., Lefèvre, V., Melquiond, G., Revol, N., Stehlé, D., Torres, S. (2010). Handbook of floating-point arithmetic. Heidelberg: Springer Nature.