# Einführung
Dies ist das erste Jupyter Notebook für den Data-Science-Kurs. Das schöne daran ist, dass man Text schreiben kann wie in einem wissenschaftlichen Bericht, aber auch gleich den Python-Code direkt einbetten.
# Code aus dem ersten Programmierworkshop am 2.11.
Das folgende ist ein einfaches Beispiel für Python code:

In [1]:
a = 3.4
b = 2.1
ergebnis1 = "Das Ergebnis der Addition ist: "
ergebnis2 = "Das Ergebnis der Subtraktion ist: "
print(ergebnis1+str(a+b))
print(ergebnis2+str(a-b))

Das Ergebnis der Addition ist: 5.5
Das Ergebnis der Subtraktion ist: 1.2999999999999998

Wenn man Shift+Enter drückt, wird der Code ausgeführt und man erhät das Ergebnis.

In [2]:
print(a)
print(b)
a = b
print(a)

3.4
2.1
2.1

In [3]:
geldverteilung = [6, 0, 9, 7, 2, 33, 5, 15, 5, 70, 20, 50, 44, 32]
print(geldverteilung)
geldverteilung.append(3)
print(geldverteilung)

geldverteilung_neu = geldverteilung
print(geldverteilung_neu)

geldverteilung_wirklichneu = list(geldverteilung)
print(geldverteilung_wirklichneu)

geldverteilung_wirklichneu.append(25)
print(geldverteilung_wirklichneu)

print(geldverteilung)

[6, 0, 9, 7, 2, 33, 5, 15, 5, 70, 20, 50, 44, 32]
[6, 0, 9, 7, 2, 33, 5, 15, 5, 70, 20, 50, 44, 32, 3]
[6, 0, 9, 7, 2, 33, 5, 15, 5, 70, 20, 50, 44, 32, 3]
[6, 0, 9, 7, 2, 33, 5, 15, 5, 70, 20, 50, 44, 32, 3]
[6, 0, 9, 7, 2, 33, 5, 15, 5, 70, 20, 50, 44, 32, 3, 25]
[6, 0, 9, 7, 2, 33, 5, 15, 5, 70, 20, 50, 44, 32, 3]

In [4]:
summe = sum(geldverteilung) #hier berechne ich als Zwischenschritt die Summe
anzahl = len(geldverteilung) #auch die zahl der Personen ist wichtig für den Durchschnitt
durchschnitt = summe/anzahl #
print(durchschnitt)

20.066666666666666

# Code zweiter Workshop am 16.11.
Leider wissen wir nicht mehr, wer wie viel Geld dabei hatte. Guter Datenschutz, aber schlechte Datenstruktur! Wir können das mit einer Liste von Listen beheben:

In [5]:
geldvt16Nov = [[Tobias, 15], [Heike, 12], [Name, 0]] #so viel Bargeld haben die Kurstn. am 16. Nov dabei
print(geldvt16Nov)

NameError: name 'Tobias' is not defined

In [6]:
#nun versuchen wir mit dem Code vom letzten Mal, den Durchschnitt zu berechnen:
geldvt16Nov_str = [['Tobias', 15], ['Heike', 12]] #strings brauchen ''

summe = sum(geldvt16Nov_str) #hier berechne ich als Zwischenschritt die Summe
anzahl = len(geldvt16Nov_str) #auch die zahl der Personen ist wichtig für den Durchschnitt
durchschnitt = summe/anzahl #
print(geldvt16Nov_str)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [7]:
#mhm, aus Listen kann man wohl keine Summe bilden. Wie kommen wir an die Summen?
rechenliste = [] #erstmal eine Variable anlegen
tobiasgeld = geldvt16Nov_str[0][1] #Dabei noch mal Indizes erkären, Start bei 0
print(tobiasgeld)
type(tobiasgeld)
rechenliste.append(tobiasgeld)
rechenliste.append(geldvt16Nov_str[1][1]) #man kann sich den Zwischenschritt auch sparen
print(rechenliste)
durchschnitt = sum(rechenliste)/len(rechenliste)
print(durchschnitt)

15
[15, 12]
13.5

In [7]:
#so geht es, wird aber leicht ziemlich ätzend, wenn es ein großer Kurs ist. 
#wir müssen das automatisieren mit einem for-loop:
rechenliste = []
for kurstn in geldvt16Nov_str: #allgemein: for variable in sequence:
    kurstngeld = kurstn[1] #einrücken ist wichtig
    print(kurstngeld) #print-statements zwischendurch helfen zu verstehen, was gerade passiert
    rechenliste.append(kurstngeld)
    print(rechenliste)
durchschnitt = sum(rechenliste)/len(rechenliste)
print(durchschnitt)
#und so geht es auch mit 100.000 Kurstn, ohne dass der Code länger wird.

15
[15]
12
[15, 12]
13.5

## Einheit 2: Pandas Intro
Besser geeignet ist Pandas (für Panel Data Analysis), Funktionalität ähnlich wie R.

In [8]:
import pandas as pd #kein generisches Python, muss importiert werden.

geldvt16Nov_pd = pd.Series([15, 12], index=['Tobias', 'Heike']) #Series-Datentyp: Vektor
print(geldvt16Nov_pd)
print(geldvt16Nov_pd['Heike']) #über den Index kann direkt auf eine Zahl zugegriffen werden

Tobias    15
Heike     12
dtype: int64
12

In [9]:
#Python: Datenintegration - Liste überführen in Pandas Objekt
geldvt16Nov_pd_aut = pd.Series(rechenliste)
print(geldvt16Nov_pd_aut) #man beachte den Default-Index!

0    15
1    12
dtype: int64

In [10]:
#was das Ding alles kann: eingebaute Statistikfunktionen
geldvt16Nov_pd.mean() #berechnet Durchschnitt und erspart uns den ganzen for-loop-Kram
                      #sowie den "Umweg" über die sum- und len-Funktionen
                      #Method vs Function: vgl. lst.append(argument)

13.5

In [11]:
#aufgepasst, wie basale Funktionen hier definiert sind: Grundrechenarten

geldausg = pd.Series([-1, 0], index=['Tobias', 'Heike'])
geldvt_nachPause = geldvt16Nov_pd + geldausg
print(geldvt_nachPause)
print(geldvt_nachPause.mean())

Tobias    14
Heike     12
dtype: int64
13.0

In [12]:
#lineare Algebra - Numpy - vergleich mit Addition von Listen
#Sparsamkeit: durch Listen müsste man loopen, um elementweise zu addieren

vorpause = [15, 12]
ausgegeben = [-1, 0]
print(vorpause+ausgegeben)

[15, 12, -1, 0]

In [13]:
#Filtern: Nur Datenpunkte mit überdurchschnittlichem Geld

reicheTn = geldvt16Nov_pd[geldvt16Nov_pd > geldvt16Nov_pd.mean()]
print(reicheTn)

Tobias    15
dtype: int64

In [14]:
#Boole'sche variable erklären
geldvt16Nov_pd > geldvt16Nov_pd.mean()

Tobias     True
Heike     False
dtype: bool

In [15]:
#Konventionen
print(3 > 2) #größer als
print(3 >= 4) #größer oder gleich 
print(3 == 3) #Gleichheit
print(3 != 3) #Ungleichheit

True
False
True
False

In [16]:
#wenn noch Zeit, truth tables erklären
print(3 > 2 and 2 > 4) #spielen mit not (takes precedence)
print(3 > 2 or 2 > 4)

False
True

## Einheit 3 Pandas DataFrame
= das Python-Äquivalent zum Spreadsheet

In [17]:
#dies führt die beiden Pandas-Series-Objekte zu einem Spreadsheet zusammen
alleDaten16Nov = pd.concat([geldvt16Nov_pd, geldausg], axis=1) #axis=1 bedeutet spaltenweise
print(alleDaten16Nov)

         0  1
Tobias  15 -1
Heike   12  0

In [19]:
alleDaten16Nov.columns = ['geldAnfang', 'ausgPause'] #Spaltenlabel benennen
print(alleDaten16Nov)

        geldAnfang  ausgPause
Tobias          15         -1
Heike           12          0

In [20]:
#Zugriff auf eine Variable = Series extrahieren
print(alleDaten16Nov['geldAnfang']) #bei [['geldAnfang']] behalt man einen DataFrame

Tobias    15
Heike     12
Name: geldAnfang, dtype: int64

In [21]:
#Zugriff auf Datenpunkte über labels:
print(alleDaten16Nov.loc['Tobias','geldAnfang']) #i,j Matrixnotation erklären
print(alleDaten16Nov.loc[['Tobias']]) #Zugriff auf eine Zeile

15
        geldAnfang  ausgPause
Tobias          15         -1

In [22]:
#Zugriff auf Datenpunkte über Indizes:
print(alleDaten16Nov.iloc[0,0]) #i,j beginnt bei 0 zu zählen
print(alleDaten16Nov[0:1]) #Zugriff auf eine Zeile

15
        geldAnfang  ausgPause
Tobias          15         -1

In [23]:
#Statistische Funktionen gehen hier auch wie bei Series-Objekt:
durchschnGeld = alleDaten16Nov['geldAnfang'].mean()
print(durchschnGeld)

13.5

In [24]:
#Hier sieht man die Macht von Pandas: sehr viel effizienter als ein for-loop!
#(N.B. die neue Variable wurde auch automatisch mit angelegt)
alleDaten16Nov['geldEnde'] = alleDaten16Nov['geldAnfang'] + alleDaten16Nov['ausgPause']
print(alleDaten16Nov)

        geldAnfang  ausgPause  geldEnde
Tobias          15         -1        14
Heike           12          0        12

In [27]:
#Manuelle Ergänzung einer Variablen:
alleDaten16Nov['Studienfach'] = ['UZ', 'Info']
print(alleDaten16Nov)

        geldAnfang  ausgPause  geldEnde Studienfach
Tobias          15         -1        14          UZ
Heike           12          0        12        Info

In [28]:
#Boolesches Filtern mit Variablen:
GeldUZ = alleDaten16Nov[alleDaten16Nov['Studienfach']=='UZ']
print(GeldUZ['geldAnfang'].mean())

15.0

## Einheit 4 Berechnung Segregationsindex

<img src="segindex.png">

In [29]:
beispielstadt = pd.DataFrame({'stadtteil': ['schäbig', 'schick'], 'einwohner': [500, 500], 
                              'sgb2empf': [250, 250]})
print(beispielstadt)

   einwohner  sgb2empf stadtteil
0        500       250   schäbig
1        500       250    schick

In [30]:
A = beispielstadt['sgb2empf'].sum() #Summe der SGB2-Empfänger über die Stadtteile
B = beispielstadt['einwohner'].sum() #Summe der Einwohner

beispielstadt['sgb2_rel'] = beispielstadt['sgb2empf']/A 
#Anteil an allen SGB2-Empf. der Stadt, die in diesem Stadtteil wohnen

beispielstadt['nsgb2_rel'] = (beispielstadt['einwohner'] 
                                   - beispielstadt['sgb2empf'])/(B-A)
#Anteil der nicht-SGB2-Empf. der Stadt, die in diesem Stadtteil wohnen

print(beispielstadt)

   einwohner  sgb2empf stadtteil  sgb2_rel  nsgb2_rel
0        500       250   schäbig       0.5        0.5
1        500       250    schick       0.5        0.5

In [31]:
beispielstadt['verh_sgb2_zu_ew'] = abs(beispielstadt['sgb2_rel'] 
                                              - beispielstadt['nsgb2_rel'])
print(beispielstadt)

segIndex = 0.5 * beispielstadt['verh_sgb2_zu_ew'].sum()
print("Der Segregationsindex beträgt: " + str(segIndex))

   einwohner  sgb2empf stadtteil  sgb2_rel  nsgb2_rel  verh_sgb2_zu_ew
0        500       250   schäbig       0.5        0.5              0.0
1        500       250    schick       0.5        0.5              0.0
Der Segregationsindex beträgt: 0.0

## Ergänzung: Laden externer Daten als Pandas Dataframe
Natürlich wollen wir unsere Daten nicht manuell abtippen müssen. Pandas erlaubt es ganz simpel, Spreadsheet-Files (wie z.B. aus Excel oder ähnlichen Programmen) als DataFrame zu importieren. Am besten ein Software-unabhängiges File-Format wie .csv (für "comma-separated values" benutzen wie im folgenden Beispiel.

In [37]:
import pandas as pd
potsdam = pd.read_csv('PotsdamBezirke.csv') #Datei liegt im selben Verzeichnis wie das Skript.
print(potsdam)

                    Bezirk  Einwohner  Einwohner 0-18  Einwohner 18-65  \
0          Babelsberg Nord      11016            2294             7188
1           Babelsberg Süd      11377            1672             7770
2        Berliner Vorstadt       2415             406             1464
3                   Bornim       2747             483             1816
4                Bornstedt       9169            1972             5767
5   Brandenburger Vorstadt      11457            1817             7077
6                  Drewitz       7221            1273             4794
7                    Eiche       4538             799             3090
8                 Fahrland       3719             649             2601
9                     Golm       2627             421             1884
10          Groß Glienicke       4116             867             2487
11                   Grube        423              90              268
12              Innenstadt      19573            2458            12472
13           Jägervorstadt       2391             443             1625
14          Kirchsteigfeld       5069             934             3392
15         Klein Glienicke        550             139              355
16               Marquardt       1150             188              794
17        Nauener Vorstadt       4292             849             2663
18                 Nedlitz        178              33              103
19            Neu Fahrland       1467             260              934
20            Potsdam West       7122            1064             4245
21                  Sacrow        153              18              104
22                Satzkorn        443              53              329
23                Schlaatz       8999            1254             6718
24                   Stern      16165            2058             9986
25       Teltower Vorstadt       3859             429             2459
26      Templiner Vorstadt       1257             166              759
27             Uetz/Paaren        425              77              293
28             Waldstadt 1       5490             443             2824
29             Waldstadt 2       9580            1314             6490

    Einwohner 65+
0            1534
1            1935
2             545
3             448
4            1430
5            2563
6            1154
7             649
8             469
9             322
10            762
11             65
12           4643
13            323
14            743
15             56
16            168
17            780
18             42
19            273
20           1813
21             31
22             61
23           1027
24           4121
25            971
26            332
27             55
28           2223
29           1776

Im folgenden berechne ich den Segregationsindex für die Über-65jährigen mit dem in der letzten Sitzung entwickelten, für diesen Zweck leicht angepassten Code. (Hinweis: die Daten auf Stadtteilebene für SGB-2-Empfänger liegen nicht vor, weil "Open Data" in Potsdam im Moment noch mehr lobenswerter Anspruch als Wirklichkeit ist).

In [43]:
A = potsdam['Einwohner 65+'].sum() #Summe der Ü65-EW über die Stadtteile
B = potsdam['Einwohner'].sum() #Summe der Einwohner

potsdam['ue65_rel'] = potsdam['Einwohner 65+']/A 
#Anteil an allen Ü65-EW der Stadt, die in diesem Stadtteil wohnen

potsdam['u65_rel'] = (potsdam['Einwohner'] 
                                   - potsdam['Einwohner 65+'])/(B-A)

potsdam['verh_ue65_zu_u65'] = abs(potsdam['ue65_rel'] 
                                              - potsdam['u65_rel'])
print(potsdam)

segIndex = 0.5 * potsdam['verh_ue65_zu_u65'].sum()
print("Der altersbezogene Segregationsindex beträgt: " + str(segIndex))

                    Bezirk  Einwohner  Einwohner 0-18  Einwohner 18-65  \
0          Babelsberg Nord      11016            2294             7188
1           Babelsberg Süd      11377            1672             7770
2        Berliner Vorstadt       2415             406             1464
3                   Bornim       2747             483             1816
4                Bornstedt       9169            1972             5767
5   Brandenburger Vorstadt      11457            1817             7077
6                  Drewitz       7221            1273             4794
7                    Eiche       4538             799             3090
8                 Fahrland       3719             649             2601
9                     Golm       2627             421             1884
10          Groß Glienicke       4116             867             2487
11                   Grube        423              90              268
12              Innenstadt      19573            2458            12472
13           Jägervorstadt       2391             443             1625
14          Kirchsteigfeld       5069             934             3392
15         Klein Glienicke        550             139              355
16               Marquardt       1150             188              794
17        Nauener Vorstadt       4292             849             2663
18                 Nedlitz        178              33              103
19            Neu Fahrland       1467             260              934
20            Potsdam West       7122            1064             4245
21                  Sacrow        153              18              104
22                Satzkorn        443              53              329
23                Schlaatz       8999            1254             6718
24                   Stern      16165            2058             9986
25       Teltower Vorstadt       3859             429             2459
26      Templiner Vorstadt       1257             166              759
27             Uetz/Paaren        425              77              293
28             Waldstadt 1       5490             443             2824
29             Waldstadt 2       9580            1314             6490

    Einwohner 65+  ue65_rel   u65_rel  verh_ue65_zu_u65
0            1534  0.048988  0.074267          0.025280
1            1935  0.061793  0.073954          0.012161
2             545  0.017404  0.014647          0.002758
3             448  0.014307  0.018007          0.003700
4            1430  0.045666  0.060615          0.014949
5            2563  0.081848  0.069662          0.012187
6            1154  0.036853  0.047519          0.010667
7             649  0.020726  0.030460          0.009735
8             469  0.014977  0.025455          0.010478
9             322  0.010283  0.018054          0.007771
10            762  0.024334  0.026270          0.001936
11             65  0.002076  0.002804          0.000728
12           4643  0.148272  0.116938          0.031334
13            323  0.010315  0.016198          0.005883
14            743  0.023727  0.033883          0.010156
15             56  0.001788  0.003869          0.002081
16            168  0.005365  0.007691          0.002326
17            780  0.024909  0.027508          0.002599
18             42  0.001341  0.001065          0.000276
19            273  0.008718  0.009352          0.000634
20           1813  0.057897  0.041582          0.016315
21             31  0.000990  0.000956          0.000034
22             61  0.001948  0.002992          0.001044
23           1027  0.032797  0.062440          0.029643
24           4121  0.131602  0.094334          0.037268
25            971  0.031008  0.022620          0.008388
26            332  0.010602  0.007245          0.003357
27             55  0.001756  0.002898          0.001142
28           2223  0.070991  0.025589          0.045402
29           1776  0.056716  0.061124          0.004409
Der altersbezogene Segregationsindex beträgt: 0.15731968493729973

In [44]:
#Jetzt wollen wir noch die erweiterte Tabelle wieder abspeichern.
potsdam.to_csv('PotsdamBezirkeErweitert.csv')

# Diskussion
Sind 2 und 2 wirklich immer 4? Diese spannende Frage ist nicht so trivial, wie sie scheint, und wird von Muller et al. (2010) ausführlich erörtert.

# Literaturangaben
Muller, J.-M., Brisebarre, N., de Dinechin, F., Jeannerod, C.-P., Lefèvre, V., Melquiond, G., Revol, N., Stehlé, D., Torres, S. (2010). Handbook of floating-point arithmetic. Heidelberg: Springer Nature.